
title= pageTittle

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
meta(name='description', content='Debate global es un mediador entre los distintos puntos de vista que cada persona y sociedad tiene desde su experiencia.')

link(rel='stylesheet', href='css/styles.css')

//Iconos
// link(href='https://file.myfontastic.com/9awqYLFukJWm6Teb6yqvpb/icons.css' rel='stylesheet')
