header.body_header
  .ed-container
    .ed-item.s-85.m-30
      a(href='index.html')
        h2.logo DebateGlobal
    .ed-item.s-15.m-70.container_menu
      .icon-menu.to-l#togdagle-menu
      nav
        ul.main-menu#main-menu
          li #[a(href='estadisticas.html')] Estadísticas
          li #[a(href='debates.html')] Debates
          li #[a(href='ideas.html')] Ideas
          li #[a(href='comunidades.html')] Comunidades
          li #[a(href='signin.html')] Iniciar sesión
