doctype html
html(lang='es')
  head
    include includes/head
  body
    include includes/header
      
    //Informacion sobre el debate
    section.ed-container.main-center.debate.body_section
      .ed-item.main-center
        h1.debate_title Educación infantil en Argentina
      .ed-item
        ul.debate_infoprincipal
          li: span.icon-comments 234
          li: span.icon-eye 4
          li: span.icon-calendar-o 15-Feb-2017
      .ed-item.m-50.main-center.cross-center
        img.debate_img(src='img/negrita.jpg', alt='')
      .ed-item.m-50
        p.debate_description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo cum accusantium adipisci quaerat non, vel, quam officiis corporis voluptas placeat debitis unde, illum quas et. Quisquam iusto modi molestias accusamus repudiandae, est sit illo obcaecati, suscipit magnam. Quia animi libero nisi ex omnis laborum voluptatem esse et quidem. Molestias quos earum facilis laboriosam deserunt. Enim porro tenetur aspernatur doloremque pariatur, quod animi tempora asperiores, delectus esse quas natus excepturi. Ea dolores, nam animi, perspiciatis mollitia nihil adipisci eveniet harum laborum? Sapiente voluptate deleniti, repudiandae nesciunt provident ipsum. Molestias similique fugiat modi beatae repellendus animi saepe, accusantium fuga! Atque nam optio possimus aperiam esse eaque explicabo, reprehenderit dignissimos odio reiciendis ea ut voluptatem nihil, maiores labore.
      .ed-item.ed-container.debate_infosecundaria
        .ed-item.s-70 <strong>Debate público</strong>
        .ed-item.s-30.main-end.cross-end
          .icon-user <a href='perfil.html'>sebaweb</a>
        .ed-item <strong>Categoría: </strong> Ciencia, política, medicina.
        .ed-item.m-95 <strong>Lugar: </strong> Argentina, Chile, Uruguay, Brasil, Paraguay, Ecuador, Peru, Colombia, Venezuela, Surinam, Guatemala, Mexico, Estados Unidos, Panama, España, Francia, Alemania, Italia, Luxemburgo, India, China, Japon, Sudafrica, Groenlandia, Canada, Honduras, Jamaica, Hawai, Grecia, Egipto, Arabia Saudita, Rusia.
        .ed-item.s-50
          <strong>Caracteres permitidos: </strong><span> Min:<span class='car-num'>100</span> - Max:<span class='car-num'>2000</span> </span>
        .ed-item.s-50.main-end
          .puntos_debate +57
          .manitos
            span.icon-thumbs-up 77
            span.icon-thumbs-down 20
    
  section.pdvs
    .ed-container.full.u-scrollContainer
      - for(var i=0; i<20; i++)
        .ed-item.pdv.s-50.m-25.l-1-6.xl-1-8.u-scrollContainer-item
          h2.pdv_title Punto de vista #{i}
          .pdv_info
            .cant_user <span> 23 usuarios </span>
          .comentarios
            - for(var j=0; j<4; j++)
              .comentario
                .comentario_head
                  .comentario_head_col-i
                    img.circle(src='img/yo.jpg', alt='')
                  .comentario_head_col-m
                    h4.icon-user
                      a(href='#perfil.html') sebaweb <br/>
                      span (Sebastian Cardoso)
                    span 24 años
                  .comentario_head_col-d <strong> +24 </strong>
                .comentario_main
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, nesciunt quod alias reprehenderit, quae quia mollitia neque nam pariatur quibusdam, optio, dolores animi libero deleniti voluptatibus officiis dolore? Blanditiis eius, fugit vitae error voluptas commodi, vero laboriosam temporibus repudiandae incidunt tempore eum molestias quisquam debitis possimus, tempora amet expedita atque?
                .comentario_foot
                  .fecha
                    .icon-calendar-o 15-Feb-2017
                  .voto
                    span.icon-thumbs-up 28
                    span.icon-thumbs-down 4
          .pdv_foot
            button.btn-mostrarmas Mostrar mas
          
  
  include includes/footer
